@import './var';
@import 'layout/header';
@import 'layout/breadcrumb';
@import 'layout/sidebar';

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: $--color-text-primary;
  text-align: left;
  background-color: $--background-color-base;
}

input, select, button {
  outline: none;
}

.layout {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.app-body .main {
  -ms-flex: 1;
  flex: 1;
  min-width: 0;
}
@media (min-width: 992px){
  .header-fixed .app-header {
    position: fixed;
    z-index: 1020;
    width: 100%;
  }
  .header-fixed .app-body {
    margin-top: 55px;
  }
}
@media (min-width: 576px) and (min-width: 992px){
  html:not([dir=rtl]) .aside-menu-lg-show.aside-menu-fixed  .main, html:not([dir=rtl]) .app-footer {
    margin-right: 250px;
  }
  html:not([dir=rtl])  .main, html:not([dir=rtl])  .app-footer {
    margin-left: 200px;
  }
  html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed.sidebar-minimized .main, html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed.sidebar-minimized .app-footer {
    margin-left: 65px;
  }

  html:not([dir=rtl]) .sidebar-minimized .sidebar .sidebar-nav .el-menu {
    &>.el-menu-item-group .el-menu-item-group__title {
      display: none;
    }
  }

}
.main >.app-container {
  width: 100%;
  padding: 0 30px;
  margin-right: auto;
  margin-left: auto;
}








