@import './_reset';
@import './var';



@import "~element-ui/packages/theme-chalk/src/index";
@import 'layout';

// 注释了element-ui icon.scss 内的字体重新声明 否则nuxt编译时会报错
@font-face {
  font-family: 'element-icons';
  src: url('../fonts/element-icons.woff') format('woff'), /* chrome, firefox */
  url('../fonts/element-icons.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  font-weight: normal;
  font-style: normal
}
//

$card－header-background-color:$--background-color-base;

//card
.el-card {
  border: 1px solid $--border-color-base;
  border-radius: .25rem;
  .el-card__header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid $--border-color-base;
  }
  .cl-card_body {
    padding: 1.25rem;
  }
  margin-bottom: 20px;
}

//menu
.el-menu-item-group__title {
  padding: .75rem 1rem;
  font-size: 80%;
  font-weight: 700;
  text-transform: uppercase;
}



//mask
.el-loading-mask.is-fullscreen {
  background: rgba(0, 0, 0, 0.7);
}


//table

.el-table thead {
  color: $--color-text-primary;
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
  background: rgba(0,0,0,.05);
}
.el-table td, .el-table th.is-leaf {
  border-bottom: 1px solid $--border-color-base;
}

.el-table--border, .el-table--group {
  border: 1px solid $--border-color-base;
}

.el-table--border::after, .el-table--group::after, .el-table::before {
  background-color: $--border-color-base;
}

.el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
  border-right: 1px solid $--border-color-base;
}
.el-table td, .el-table th.is-leaf {
  border-bottom: 1px solid $--border-color-base;
}
.el-table--border {
  border-right: none;
  border-bottom: none;
}
.el-table--striped .el-table__body tr.el-table__row--striped.current-row td, .el-table__body tr.current-row>td, .el-table__body tr.hover-row.current-row>td, .el-table__body tr.hover-row.el-table__row--striped.current-row>td, .el-table__body tr.hover-row.el-table__row--striped>td, .el-table__body tr.hover-row>td {
  background-color: rgba(0,0,0,.2);
}

.el-table--enable-row-hover .el-table__body tr:hover>td {
  background-color: rgba(0,0,0,.2);
}
