$--border-color-base: #23282c !default;

/* Colors
-------------------------- */
$--color-white: #3a4149 !default;

$--color-text-primary: white !default;
$--color-text-regular: white !default;
$--color-text-secondary: white !default;
$--color-text-placeholder: #c0c4cc !default;

/* Background
-------------------------- */
$--background-color-base: #3a4149 !default;

@import "~element-ui/packages/theme-chalk/src/common/var";

